/*Create By Taninut.b

.menu-catalog-title-color{
    color: #000;
}

.menu .catalog li .submenu {

    min-height: 500px;
    max-height: 500px;
    overflow-y: scroll;
}*/
body {
    color: rgba(255,212,36,.9);
}
.submenu{

}

.menu .catalog {
    text-align: left;
}

.catalog {
    display: block;
    list-style: none;
    text-align: right;
    width: 100%;
    /*max-width: 948px;*/
    margin-bottom: 0;
}

.title-head{
    color: #03a9f4;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-left: 50%;
}

.menu .catalog li .submenu .sub-submenu {
    position: absolute;
    display: none;
    padding-left: 20px;
    margin-top: 0px;
    z-index: 5;
    top: 0;
    left: 228px;
    background-color: #2b2727;
    border-right: 1px #2b2727  solid;
    border-bottom: 1px #2b2727  solid;
    border-left: 1px #2b2727  solid;
    height: 530px;
    overflow-y: scroll;
    width: 100%;
}

#catalog_new{
    display: block;
    list-style: none;
    text-align: right;
    width: 100%;
    max-width: 1148px;
    margin-bottom: 0;
}

#products-category-search{
    /*
     min-height: 480px;
     max-height: 480px;
    */

    min-height: 100%;
    max-height: 560px;
}

#products-popular{
    min-height: 380px;
}

#products-popular-footer{
    min-height: 140px;
    max-height: 140px;
}

#products-save-cat{
    min-height: 250px;
}

.search-category-badges-price{
    min-height: 50px;
    max-height: 50px;
}

.search-category-footer{
    min-height: 150px;
    /* max-height: 180px; */
    word-wrap: break-word;
}

.products-buttons-group{
    margin: 0 0 0 0;
}

.products-shopping-dollar{
    margin-top: -26px;
}

.products-shopping-dollar-padding-margin-description{
    padding: 0px; margin-left: 0px; margin-top: 3px;
}

.products-shopping-dollar-padding-margin-images{
    padding-right: 0px; padding-left: 0px; margin-bottom: 0px;
}


/* 11/07/2016 Photo Grid ,  Create By Pew CodesLoves , Reform By  */

#photos-bestseller-items {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px;


}
/* Just in case there are inline attributes */
#photos-bestseller-items img {

    /*width: 100% !important;
    height: auto !important;
    */
}

#photos-bestseller-items-padding{
    margin-left: 5px; margin-right: 5px;
}

.product-name{
    word-wrap: break-word;
    line-height: normal;
    font-size: 13px;
}
.bestseller-name-price{
    margin-top: 5px;
}

.descr{
    display: none;
}
.overlay:hover {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}

.overlay:hover .descr {
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0);
    width: 100%;
    display: block;
    visibility: visible;
}
.desc-bestseller{
    position: absolute; width: 96%; height: 100px;
    top: 50%;
    margin-top: -50px;

    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    filter: alpha(opacity=0);
    transition: all .25s;  background-color: #03a9f4; padding: 10px; margin-left: 7px; margin-right: 5px;
}

@media (max-width: 1200px) {
    #photos-bestseller-items {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    #photos-bestseller-items {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    #photos-bestseller-items {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    #photos-bestseller-items {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}


/*  Profile , 12/7/2016 Create By Taninut.B   */

.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    /* border-left-width: 5px; */
    border-radius: 3px;
}
.profile-title-head{
    color: #000;
}
.profile-title{
    color: #3cc;
}
.profile-title-taglines{
    color: #000000;
}
.profile-title-button{
    color: #fff;
}

.input-group-addon , .reveal_current , .reveal_new , .reveal_re  {
    padding: 6px 12px;
    font-size: 1em;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    background-color: #3cc;
    border: 0px solid #fff;
    border-radius: 0;
}

.highlight_bg {
    background-color: #fff; /*  #3cc; */
}

.bs-example{
    background-color:#3cc;
    height:45px; margin-top: 20px;
    padding: 10px 12px; color: #fff; border-width: 1px;
    border-radius: 4px 4px 0 0; -webkit-box-shadow: none; box-shadow: none;
}

/*
    * Update 12/1/2017
    * By Taninut.Bm
    * สีเหลือง - color: rgba(255,212,36,.9) ;
*/

.menu .catalog-block {
    background-color: #000000;
}
.menu .catalog li a {
    color: rgba(255,212,36,.9);/* #ddff00;*/
}
.menu .catalog li:hover {
    background-color:#2b2727;/*#1f1d1d;#4c4646;*/
}
.menu .catalog li .submenu {
    background-color: #000000;
    border-color: #2b2727;
}
.menu .catalog li .submenu li {
    border-color: #2b2727 !important;
}
.menu .catalog li .submenu li:hover {
    background: #2b2727;
}
.menu .catalog li .submenu li>a {
    font-size: 13px;
    margin-left: 6px;
}
.menu .catalog li .submenu #test-menu .sub-catolog{
    color: rgba(255,212,36,.9);
    width:50%;
    border-bottom: 1px #f5f5f5 solid;
}
.menu .main li:hover a,
.menu .catalog li:hover a {
    text-decoration: none;
    color: rgba(255,212,36,.9);
}
.menu .catalog .submenu .sub-submenu li a {
    color: #ffff00 !important;
}
.menu .catalog .submenu .sub-submenu li a:hover {
    color: rgba(255,212,36,.9) !important;
}
.menu .catalog .submenu .sub-submenu li:hover {
    background: #2b2727 !important;

}
.menu .catalog .submenu .sub-submenu li:after {

    border-color: #2b2727 !important;
    background: #6f6565 !important;
}
.scrollbar{
    /*float: left; height: 300px; width: 65px;*/
    background: #F5F5F5; overflow-y: scroll; margin-bottom: 25px;
}
#test-menu::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
#test-menu::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
}
#test-menu::-webkit-scrollbar-thumb{
    background-color: #000000;
}
.price-label, #lightGallery-outer, .thumb_cont, body > footer {
    background-color: #000000 !important;
}
.footer p {
    color: rgba(255,212,36,.9);
}
.footer a {
    color: rgba(255,212,36,.9);
}
.footer .list-unstyled li a:hover {
    color: rgba(255,212,36,.9);
}
.toolbar i {
    color: #000000 !important;
}
.toolbar i:hover {
    color: rgba(255,212,36,.9) !important;
}
.hero-slider .ms-nav-next:before, .hero-slider .ms-nav-prev:before {
    color: rgba(255,212,36,.9);
}
.btn-primary {
    background: #2b2727;
    color: rgba(255,212,36,.9);
}
.hero-slider .ms-bullet-selected {
    background-color: rgba(255,212,36,.9);
}

/* 13/1/2017 */
.toolbar-container .toolbar .cart-btn .btn span {
    background-color: #000000;
}
.cart-dropdown {
    border-color: #000000;
}
.cart-dropdown .footer {
    background: #000000;
}
.toolbar .cart-btn>.btn i {
    color: #000000 !important;
}
.toolbar  .cart-btn .btn i {
    color: rgba(255,212,36,.9) !important;
}
.toolbar  .cart-btn .btn span {
    background : rgba(255,212,36,.9) !important;
    color: #000000 !important;
    border-color: #000000 !important;
    border: 1px rgb(176, 197, 7) solid;
}
.toolbar a span {
    color: rgba(255,212,36,.9);
}
/*#FED943 rgba(255,212,36,.9)*/
.close-search,
.toolbar a span:hover,
.info-block-image .color-box .tiles div span {
    color: #000000 !important;
}
.list-wrapper .empty{
    color: rgba(255,212,36,.9) !important;
}
.tabs-widget .nav-tabs li.active a {
    border-color: #000000;
    background: #000000 !important;
}
.tabs-widget .nav-tabs li.active a {
    color: rgba(255,212,36,.9);
}
.tabs-widget .nav-tabs {
    border-bottom-color: #000000;
}
.tabs-widget .nav-tabs li.active {
    background: #000000;
}
.tabs-widget .nav-tabs li a:hover {
    border-color: #000000;
}
a{
    color: #000000;
}
a:hover {
    color: rgba(255,212,36,.9);
}
.cart-dropdown .footer .btn {
    background-color: #2b2727;
}
.cart-dropdown .footer .btn, .info-block-image h2 {
    color: #ffffff !important;
}
.cart-dropdown table th {
    color: #000000;
}
.cart-dropdown .footer .total {
    color: rgba(255,212,36,.9);
}
.catalog-grid .tile .footer a {
    color: #292c2e;
}
.catalog-grid .tile .footer a:hover {
    color: rgba(255,212,36,.9);
}
.title-head {
    color: rgba(255,212,36,.9);
}
.feature-tabs .tab i {
    color: rgba(255,212,36,.9);
}
.feature-tabs .tab.active i {
    color: #000000 !important;
}
.cat-tiles a:hover {
    border-color: rgba(255,212,36,.9);
}
.brand-carousel .owl-prev, .brand-carousel .owl-next {
    color: rgba(255,212,36,.9) !important;
}
.desc-bestseller {
    color: rgba(255,212,36,.9);
    background-color: #000000;
}
.sticky-btns span:hover {
    background: rgba(255,212,36,.9);
}
.modal-header .close {
    color: rgba(255,212,36,.9);
}
.modal-header {
    border-bottom-color: rgba(255,212,36,.9);
}
.form-control {
    border-color: rgba(255,212,36,.9);
}
.btn-black:hover {
    background-color: rgba(255,212,36,.9);
}
.modal-header a:hover {
    color: rgba(255,212,36,.9);
    border-bottom: 1px dashed rgba(255,212,36,.9);
}
.log-reg h4, .tracking h4 {
    color: rgba(255,212,36,.9) !important;
}
.cat-tiles a, .about .team .member h5, .cont-info-widget ul li i, .cont-info-widget ol li i, .coming-soon h1, .support h4, .history-title {
    color: rgba(255,212,36,.9) !important;
}
.accordion .panel-heading a {
    color: rgba(255,212,36,.9);
}
a.panel-toggle {
    color: rgba(255,212,36,.9) !important;
}
.accordion .panel-heading a {
    color: rgba(255,212,36,.9);
}
.accordion .panel-heading a h1,
.accordion .panel-heading a .h1,
.accordion .panel-heading a .h2,
.accordion .panel-heading a h2,
.accordion .panel-heading a .h3,
.accordion .panel-heading a h3,
.accordion .panel-heading a .h4,
.accordion .panel-heading a h4,
.accordion .panel-heading a .h5,
.accordion .panel-heading a h5,
.accordion .panel-heading a .h6,
.accordion .panel-heading a h6 {
    color: rgba(255,212,36,.9);
}
.accordion .panel-heading a:hover {
    color: rgba(255,212,36,.9) !important;
    border-bottom-color: rgba(255,212,36,.9);
}
.member-since{
    color: rgba(255,212,36,.9) !important;
}
.search-form .form-group input {
    border-color: rgba(255,212,36,.9) !important;
}
.search-form button {
    color: rgba(255,212,36,.9) !important;
}
.sale {
    background-color: rgba(255,212,36,.9) !important;
}
.sorting {
    color: rgba(255,212,36,.9);
}
.sorting a:hover {
    color: rgba(255,212,36,.9);
}
.shop-filters .filter-section .clear {
    color: rgba(255,212,36,.9);
}
.shop-filters .filter-section .clear:hover {
    border-bottom-color: rgba(255,212,36,.9);
}
.noUi-handle {
    background: rgba(255,212,36,.9);
}
.noUi-connect {
    background: rgba(255,212,36,.9);
}
.shop-filters .filter-section {
    border-bottom-color: rgba(255,212,36,.9);
}
.catalog-single h1 {
    color: rgba(255,212,36,.9);
}
.catalog-single .buttons .qnt-count .incr-btn {
    background: rgba(255,212,36,.9);
}
.subscr-form {
    width: 74%;
}
.subscr-form .form-control {
    color: #000;
    border: 1px solid rgba(255,212,36,.9);
    padding-right: 50px;
}
.shopping-cart table td.delete i, .wishlist table td.delete i {
    color: rgba(255,212,36,.9);
}
.checkout .payment-method {
    background: rgba(255,212,36,.9);
}

.panel-toggle:hover {
    color: #000000 !important;
    border-bottom-color: #000000;
}
/* 16/1/2017 by Taninut.BM*/
.checkout table th, .checkout table .th {
    color: #000000;
}
.selection {
    border: 1px solid rgba(255,212,36,.9);
}
.btn-info {
    color: #000;
    background-color: rgba(255,212,36,.9);
}
.btn-info:hover {
    background: #000000;
}
/* 18/1/2017 by Taninut.BM*/
.tags {
    color: rgba(255,212,36,.9);
}
.shop-filters .filter-section .price-slider .values input {
    width: 95px;
}