/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 24, 2017, 11:46:19 AM
    Author     : it
*/

.login-box select {
    text-overflow: '';
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #999;
    /* padding: 11px 10px 12px; */
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */
    color: #666;
    /* -webkit-border-radius: 0px; */
    -moz-border-radius: 0px;
    /* border-radius: 0px; */
    /* -webkit-appearance: none; */
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    /* background: #fff url(../imgs/select-arrow.png) right center no-repeat; */
}

.box-product{
    padding-right: 5px;
    padding-left: 5px;
}
.product-sticker {
    position: absolute;
    top: 30px;
    right: -1px;
    z-index: 10;
    width: 50px;
}
.rcorners4 {
    /*border-radius: 15px 50px 30px 5px;*/
    background: rgba(255, 0, 0, 0.81) ;
    /*padding: 20px;*/
    text-align: center;
    width: 50px;
    height: 50px;
    color: #ffffff;
    opacity: 0.9;
}

.triangle {
    top: -2px;
    width: 0;
    height: 0;
    border-left: 25px solid rgba(255, 0, 0, 0.81);
    border-right: 25px solid rgba(255, 0, 0, 0.81);
    border-bottom: 25px solid transparent;
    opacity: 0.9;
    margin-top: 0px;

}

.percen-discount{
    position: relative;
    font-size: 10px;
    top: -8px;
}

.discount{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    top: -8px;
}
.rcorners4 p {
    margin: 0 0 0 0 0;
}
.rcorners4 .off-style{
    width: 100%;
    margin-top: -26px;
    text-align: center;
    margin-left: 0px;
}


.product-sticker-product-detail {
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: 10;
    width: 50px;
}
.rcorners-product-detail {
    /*border-radius: 15px 50px 30px 5px;*/
    background: rgba(255, 0, 0, 0.81) ;
    /*padding: 20px;*/
    text-align: left;
    width: 100px;
    height: 50px;
    color: #ffffff;
    opacity: 0.9;
}

.rcorners-product-detail p{
    margin: 0 0 0 0px;
}
.rcorners-product-detail-right {
    /*border-radius: 15px 50px 30px 5px;*/
    background: #ffffff ;
    /*padding: 20px;*/
    text-align: center;
    font-weight: bold;
    padding: 0px;
    width: 100px;
    height: auto;
    color: rgba(255, 0, 0, 0.81);
    font-size: 20px;
    border: 2px solid rgba(255, 0, 0, 0.81) ;
    margin-top: 5px;

}


.padding-product-detail{
    padding-right: 0px;
    padding-left:0px;
}

div.line_h {
    line-height: 0px;
    margin-top: 40px;
}

.box_width_4 {
    width: 100%;
    padding-left: 4px;
    padding-right: 5px;
}

.text-head-site{
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}

.btn-good-reads{
    width: 200px;
    border: 1px #666 solid;
    background-color: #ffffff;
    padding: 5px;
    margin-left: 30px;
    font-weight: bold;
}



.explore-explain{
    border-bottom: 1px solid #7d7b7b;
}

.explore-explain p {
    padding: 5px;
    margin-top: 15px;
}

.bg-site{
    background-color: #e0e0e0;
    margin-top: 15px;
}

.good-reads-border{
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.product-other p{
    padding: 5px;
}
.product-other hr{
    padding: 0px;
    width: 98%;
    margin-top: -10px;
    border: 1px solid #c5c3c3;
}

.rcorners-product-detail .product-page-save{
    font-size: 20px;
    margin-bottom: 5px;
}
.product-page-hot-deal{
    position: relative;
    top: 5px;
}
.rcorners-product-detail .product-page-hot-deal{
    font-size: 13px;margin-left: 5px;
}

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 4px;
}


.card.hovercard {
    position: relative;
    /*width: 300px;*/
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}

.card.hovercard img {
    /*width: 300px;
    height: 200px;*/
}

.card.hovercard .avatar {
    position: relative;
    top: -40px;
    margin-bottom: -40px;
}

.card.hovercard .avatar img {
    /*width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.avatar {
    position: relative;
    top: -40px;
    margin-bottom: -40px;
    text-align: center;
}
.avatar img {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.bg-my-shelf{background-color:#f5f5f5;}

.my-shelves-text p{
    margin: 0 0 0 0 ;
}

.btn-black-s-s {
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.btn-black-s-s , .btn-black-s-my-shelves{
    text-align: center;
    padding: 5px !important;
    width: 50% ;

}

.cozxy-text-home-head{
    font-weight: bold;
    margin-top: -5px;
}

.step-up{
    margin-top: -20px;
    font-size: 14px;
    margin-bottom: 50px;
}