body {
    overflow-x: hidden
}

/* BG Color */
.bg-yellow1 {background-color:#fee60a;} /*แถบบน*/
.bg-yellow2 {background-color:#fbde08;}
.bg-yellow3 {background-color:#ffc600;} /*แถบล่าง*/
.bg-g999 {background-color:#999;}
.bg-g666 {background-color:#666;}
/* Font Color */
.fc-yellow1 {color:#fee60a;}
.fc-yellow2 {color:#fbde08;} /* coxzy */
.fc-yellow3 {color:#ffc600;}
.fc-g999 {color:#999;}
.fc-g666 {color:#666;}

.vbot th{vertical-align:bottom;text-align:center;white-space:nowrap;line-height:2;}
.menu-hr{margin:12px auto;visibility:hidden}
.left-menu ul {list-style-type:none;line-height:1.8;}
.copyright {
    padding-top:10px;
}
input,textarea {
    border-radius: 0;
}
select {
    padding: 6px 4px;
}
input[type="checkbox"], input[type="radio"] {
    background-color: transparent !important;
}
label {
    font-weight: 400;
}
.flex-center {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

/* Header */
.topbar {
    padding: 14px 12px 8px;
}
.topbar img {
    margin-bottom: 8px;
}
.topOpener {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 48px 48px 0;
    border-color: transparent #fee60a transparent transparent;
}
.headbar {
    padding: 16px 0;
}
.menubar {
    min-height: 32px;
    padding: 0;
    border-top: 1px solid #fee60a;
    overflow-y: hidden;
}
.menubar a {
    color: #fff;
}
.menubar a:hover {
    color: #fbde08;
}
.stretch {
    width: 100%;
    height: 0px;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
.menubar .menu-item {
    padding: 2px 4px;
    display: inline-block;
    *display: inline;
    zoom: 1
}
.menubar .menu-category {
    padding: 14px 8px 12px;
    display: inline-block;
    background-color: transparent;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.menubar .menu-category.active, .menubar .menu-category:hover, .menubar .menu-category:focus {
    color: #fdc532;
}
/* Category Sub Menu */
.categories-submenu, .categories-submenu .collapsing {
    position: absolute !important;
    width: 100%;
    z-index: 4096;
}
.categories-submenu .menu-item {
    background-color: #e2e6e9;
    display: block;
}
.categories-submenu .menu-item a {
    padding: 12px;
    display: block;
    width: 100%;
    color: #333;
}
.categories-submenu .menu-item:hover a, .categories-submenu .menu-item.active a{
    background-color: #fdc532;
}
/* Category Sub Menu Level 2 */
.sub2menu {
    background-color: #fdc532;
}
.loadCategory .sub-cate {
    background-color: #fdc532;
    padding: 0 8px 5px;
}
.loadCategory .sub-cate a {
    padding: 12px 16px 6px;
    display: block;
    width: 100%;
    color: #333;
    border-bottom: 1px solid #fee1a7;
}
.loadCategory .sub-items {
    padding: 12px 8px;
}
.loadCategory .sub-items a {
    padding: 2px 24px;
    display: block;
    width: 100%;
    color: #333;
}
.loadCategory .sub-cate:hover, .loadCategory .sub-cate a:hover, .loadCategory .sub-items a:hover {
    background-color: #fcdd08;
    color: #000;
}
.categories-submenu .mob-only {
    display: none !important;
}
/* Category Sub Menu Smart Phone */
.xs-category {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 4096;
}
.mob-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    width: 200vw;
    height: 100%;
    overflow: hidden;
}
.mob-category, .mob-s-category {
    position: absolute;
    top: 0;
    width: 50%;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.mob-category {
    background-color: #e2e6e9;
    left: 0;
    box-shadow: -45px 0 0 0 #fdc532 inset;
}
.mob-s-category {
    background-color: #fdc532;
    right: 0;
}
.mob-category a {
    padding: 12px 24px;
    display: inline-block;
    color: #333;
    width: 80%;
    width: calc(100% - 45px);
}
.mob-category a.mob-only {
    padding: 12px 8px;
    width: 44px;
    color: #333;
    text-align: center;
}
.mob-s-category a {
    padding: 12px 24px;
    display: inline-block;
    color: #333;
    width: 100%;
}
.mob-s-category .sub-items {
    background-color: #fcdd08;
}
.mob-s-category .sub-items a {
    padding: 6px 32px;
    color: #333;
}

/* User 4 Icon */
.user-menu img {
    margin-top: 8px;
    box-shadow: 0 0 1px #fff;
}
.user-menu a:hover img {
    box-shadow: 0 0 1px #fa0;
}
.u-menu-1 ,.u-menu-2 ,.u-menu-3 ,.u-menu-4 {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 8px;
}
.u-menu-1 { background: url(../imgs/i-profile.png) center no-repeat; }
.u-menu-2 { background: url(../imgs/i-heart.png) center no-repeat; }
.u-menu-3 { background: url(../imgs/i-bag.png) center no-repeat; }
.u-menu-4 { background: url(../imgs/i-login.png) center no-repeat; }
.u-menu-1:hover { background: url(../imgs/iy-profile.png) center no-repeat; }
.u-menu-2:hover { background: url(../imgs/iy-heart.png) center no-repeat; }
.u-menu-3:hover { background: url(../imgs/iy-bag.png) center no-repeat; }
.u-menu-4:hover { background: url(../imgs/iy-login.png) center no-repeat; }
.search-input {
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 6px 48px;
    font-size: 20px;
}
.search-btn {
    border: 0;
    border-radius: 0 5px 5px 0;
    font-weight: 700;
    font-size: 20px;
    padding: 6px 24px;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.search-btn:hover {
    background-color: #fee60a;
}

/* Banner Parade */
.logoParade {
    position: relative;
    width: 100%;
    padding: 24px 0 128px;
    overflow-x: auto;
}
.logoContainer {
    height: 110px;
    overflow: hidden;
}
.sr-arrow {
    display: inline-block;
    width: 48px;
}

/* Footer */
.subscribe {
    background-color: #000;
    color: #fff;
    padding-top: 32px;
    padding-bottom: 32px;
}
.subscribe hr {
    margin-top: 8px; border-top: 2px solid #fff;
}
.subs-input {
    border: 0 !important;
    border-radius: 0;
    width: 100%;
    padding: 8px 1px 4px;
    font-size: 16px;
    background-color: #000;
}
.subs-btn {
    border: 0;
    border-radius: 0;
    font-weight: 700;
    font-size: 16px;
    padding: 6px 24px;
    background-color: #fee60a;
    color: #000;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.subs-btn:hover {
    background-color: #fc0;
}
.footer, .copyright {
    padding-top: 24px;
    padding-bottom: 24px;
}
.footer a {
    color: #000;
}
.footer a:hover {
    color: #fa0;
}
.footer .booticon {
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    padding: 4px 6px;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.footer a:hover .booticon {
    border: 1px solid #fa0;
}
.footer-menu a {
    display: inline-block;
    padding: 8px 0;
    margin-right: 24px;
}
.copyright a {
    display: inline-block;
    width: 42px;
    height: 42px;
    font-size: 24px;
    color: #000;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: transparent;
    padding: 4px 6px;
    margin-right: 18px;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.copyright a:hover {
    color: #fa0;
    background-color: #000;
}

/* Button Set */
.btn-yellow {
    display: inline-block;
    padding: 12px 32px;
    border: 1px solid #fee60a;
    background-color: #fee60a;
    color: #000;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.btn-yellow:hover {
    background-color: #fc0;
    color: #210;
}
.btn-black {
    display: inline-block;
    padding: 12px 32px;
    border: 1px solid #000;
    color: #000;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.btn-black:hover {
    background-color: #000;
    color: #fc0;
}
.btn-black-s {
    display: inline-block;
    padding: 8px 24px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.btn-black-s:hover {
    color: #fc0;
}
.btn-g999 {
    display: inline-block;
    padding: 12px 32px;
    border: 1px solid #999;
    color: #999;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.btn-g999:hover {
    background-color: #eee;
    color: #666;
}
.btn-facebook {
    display: inline-block;
    padding: 12px 32px;
    border: 1px solid #2c4a8a;
    background-color: #3c5a9a;
    color: #fff;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.btn-facebook:hover {
    background-color: #2c4a8a;
    color: #fff;
}

/* Form Input */
.login-box input[type="text"], .login-box input[type="password"], .login-box textarea {
    border: 1px solid #999;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #666;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.login-box1 select {
    text-overflow: '';
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #999;
    padding: 11px 10px 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #666;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    /* Change Arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: #fff url(../imgs/select-arrow.png) right center no-repeat;
}
.login-box select {
    text-overflow: '';
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #999;
    /* padding: 11px 10px 12px; */
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */
    color: #666;
    /* -webkit-border-radius: 0px; */
    -moz-border-radius: 0px;
    /* border-radius: 0px; */
    /* -webkit-appearance: none; */
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    /* background: #fff url(../imgs/select-arrow.png) right center no-repeat; */
}
/* Hide Arrow IE 10 */
.login-box select.renew-arrow::-ms-expand {
    display: none;
}
.login-box select:active .login-box select:focus .login-box select {
    outline: none;
}
.smallTop {
    position: fixed;
    bottom: 24px;
    right: 4%;
    width: 48px;
    height: 48px;
    font-size: 32px;
    color: #000;
    border: 2px solid #000;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}
.smallTop:hover {
    background-color: rgba(255,255,255,0.7);
}

/* Product List */
.product-other,
.product-box {
    border: 1px solid #eee;
    background-color: #fff;
    padding: 0px;
}
.product-other {
    border-bottom: 2px solid #eee;
    margin-top: 24px;
    margin-bottom: 8px;
}
.product-box {
    box-shadow: 0 1px 0 #ddd;
    margin-top: 24px;
    margin-bottom: 12px;
}
.product-img {
    position: relative;
}
.product-img .v-hover {
    opacity: 0;
    position: absolute;
    left: 0; right: 0;
    bottom: 12px;
    margin: 0 auto;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    cursor: pointer;
    padding: 0;
    width: 90%;
    background-color: rgba(250,240,4,0.8);
    font-size: 32px;
}
.product-img:hover .v-hover {
    opacity: 1;
}
.v-hover a div {
    padding: 8px 0 4px;
    color: #000;
    background-color: transparent;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}
.v-hover a:hover div {
    background-color: rgb(250,240,4);
    color: #210;
    text-shadow: 0 1px 0 #ff0, 1px 0 0 #ff0, 0 -1px 0 #ff0, -1px 0 0 #ff0;
}
.product-txt {
    padding: 12px 20px;
    position: relative;
}
.product-txt p.brand {
    margin: 18px auto 0;
    height: 24px;
    overflow-y: hidden;
    line-height: 1.2em;
    color: #444;
}
.product-txt p.name {
    margin: 0 auto 12px;
    height: 48px;
    overflow-y: hidden;
    line-height: 1.4em;
    color: #222;
}
.product-txt p.name a {
    color: #222;
}
.product-txt p.name a:hover {
    color: #753;
}
/* Price 2 Line (index) */
.product-txt p.price {
    margin: 18px auto 12px;
    height: 40px;
    overflow-y: hidden;
    line-height: 1em;
    color: #222;
}
/* Price Inline (product) */
.product-txt p.price-in {
    margin: 12px auto 4px;
    height: 32px;
    overflow-y: hidden;
    line-height: 1.2em;
    color: #222;
}
.onsale {
    color: #bbb;
    text-decoration: line-through;
}
.cart-detail {
    padding: 20px 2px;
    border-bottom: 1px solid #ddd;
}
.price-detail {
    padding: 20px 16px;
    border-bottom: 1px solid #ddd;
}
/* Popup modal and Zoom */
.mod-bg, .mod-blur, .zoom-bg {
    position: fixed;
    height: 720px;
    height: 100vh;
    width: 100%;
    top: 0; left: 0;
}
/* Popup Product Modal */
.mod-bg {
    z-index: 6144;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.mod-box {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 1080px;
    min-height: 360px;
    max-height: 720px;
    max-height: 100vh;
    background-color: #fff;
    overflow-y: auto;
    margin: 0 auto;
    left: 0; right: 0;
    top: 50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
}
.mod-close {
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    top: 0; right: 0;
    cursor: pointer;
    z-index: 8192;
}
.mod-close:before {
    content: "✖";
    width: 100%;
    height: 100%;
    font-size: 32px;
    text-align: center;
    display: block;
    line-height: 32px;
    color: #ddd;
}
.mod-body {
    padding: 24px 32px 16px;
}
.mod-body .color-sel a, .mod-body quantity-sel a {
    margin: auto 6px;
}
.mod-body input.quantity {
    width: 32px; text-align: center;
    padding: 4px 2px;
    border: 0px solid #fff;
    font-size: 18px;
    color: #000;
}
.mod-body .color-s:active i,.mod-body .color-s:focus i {
    font-size: 24px;
}
/* Zoom , Full width picture */
.zoom-bg {
    z-index: 7168;
    background-color: #000;
    background-color: rgba(0,0,0,0.1);
}
.zoom-box {
    border: 1px solid #eee;
    overflow: hidden;
}
img.zoom {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
img.zoom:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.product-navi {
    height: 128px;
    overflow: hidden;
}
.product-thumb {
    overflow-x: auto;
    padding-bottom: 48px;
}
.product-thumb .item {
    display: inline-block;
    height: 74px;
    width: 74px;
    margin: 24px 8px;
    border: 1px solid #eee;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.product-thumb .item:first-child {
    margin-left: 0px;
}
.product-thumb .item:last-child {
    margin-right: 0px;
}
.product-thumb .item img {
    height: 100%;
    margin: 0 auto;
}
/* Pills */
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #000;
    text-decoration: underline;
    background-color: transparent;
}
.nav > li > a:focus, .nav > li > a:hover {
    color: #210;
    text-decoration: underline;
    background-color: #fff;
}
.nav-pills > li > a {
    color: #999;
    border-radius: 0px;
}
.nav-pills > li {
    margin-right: 64px;
}
.tab-pane {
    padding: 18px;
}

/* Small Viewport */
@media (max-width: 991px) {
    .footer-menu a {
        margin-left: 12px;
        margin-right: 12px;
    }
    .copyright a {
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav-pills > li {
        margin-right: 32px;
    }
}
/* Extra Small */
@media (max-width: 767px) {
    .user-menu {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .subs-btn {
        padding: 6px 8px;
    }
    .footer-menu a {
        margin-left: 4px;
        margin-right: 4px;
    }
    .nav-pills > li {
        margin-right: auto;
    }
}