/*
    New Layouts For Cozxy 2018
    Create date : 6/02/2018
    Create By : Taninut.Bm
*/

/*.headbar {
    padding: 2px 0 !important;
}*/
.headbar .search-btn{
    /* padding: 2px 0 !important; */
    zoom: .7 !important;
}

.headbar .search-input{
    /* padding: 2px 0 !important; */
    zoom: .7 !important;
}

.wrapper-cozxy .container {
    padding-right: 6%;
    padding-left: 6%;
    margin-right: auto;
    margin-left: auto;
}
.menubar {
    border-top: 0px solid #fee60a;
}

.container-x{
    padding-left: 55px; padding-right: 55px;
}

.container-anchor{
    width: 1170px !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
        width: 95% !important;
    }

}

@media (min-width: 992px){
    .container {
        width: 970px;
    }

    .brands-alphabet-box  {
        float: left;
        width: 25% !important;
        height: 30%;
    }
    .cell-4{
        float: left;
        display: inline; clear: both;

    }
    .category-cozxy-head{
        margin-left: 15px;
        margin-right: 15px;
    }

}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }
}

.menu-item-brands-inbrand{
    float: left;
    width: 100%;
    padding: 5px;
}

/* carousel */
.media-carousel
{
    /*margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;*/
}


.product-box {
    box-shadow: 0 0px 0 #ddd;
}

.new-themes-product-items{
    left: 10px;
}

/* Previous button product items section */
.prev-product-items{
    margin-top: 20% !important;
}
.prev-product-items-first{
    margin-top: 13% !important;
}
.prev-product-story-items{
    margin-top: 18% !important;
}
/* Next button  product items section */
.next-product-items{
    margin-top: 20% !important;
}
.next-product-items-first{
    margin-top: 13% !important;
}
.next-product-story-items{
    margin-top: 18% !important;
}

.see-all-new-v2{
    float: left;
    width: 47%;
    color: #03a9f4 !important;
    text-align-last: end;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
    font-size: 16px;
}

.head-all-new-v2{
    float: left; width: 50%; padding: 0 0px 0px 0px;margin-left: -10px;
}

.main-category{
    max-height:500px; min-height: 500px;
}

.categories-brands-height{
    max-height:500px; min-height: 500px; background-color: #fff;
}

/* Category Sub Menu */
.categories-submenu, .categories-submenu .collapsing {
    position: absolute !important;
    width: 100%;
    z-index: 4096;
}
.categories-submenu .menu-item {
    /*background-color: #e2e6e9;*/
    background-color: #fff;
    display: block;
}
.categories-submenu .menu-item a {
    padding: 12px;
    display: block;
    width: 100%;
    color: #333;
}
.categories-submenu .menu-item:hover a, .categories-submenu .menu-item.active a{
    background-color: #fdc532;
}
/* Category Sub Menu Level 2 */
.sub2menu {
    /*background-color: #fdc532;*/
    background-color: #fff;
}
.loadCategory .sub-cate {
    background-color: #ffffff;
    padding: 0 8px 5px;
}
.loadCategory .sub-cate a {
    padding: 12px 16px 6px;
    display: block;
    width: 100%;
    color: #333;
    border-bottom: 1px solid #fee1a7;
}
.loadCategory .sub-items {
    padding: 0px 8px;
}
.loadCategory .sub-items a {
    padding: 2px 24px;
    display: block;
    width: 100%;
    color: #333;
}
.loadCategory .sub-cate:hover, .loadCategory .sub-cate a:hover, .loadCategory .sub-items a:hover {
    /*background-color: #ffffff;*/
    color: #000;
}
.categories-submenu .mob-only {
    display: none !important;
}

.menu-item a:hover{
    border-bottom: 1px solid #fcdd08;
}
.subs-sub-titles {
    margin-bottom:1px ;
    padding: 2px !important;
}
.subs-sub-titles a:hover{
    background-color: #fcdd08;
}

/* percen discount hotdeals */

.product-sticker {
    position: absolute;
    top: 10px;
    right: -1px;
    z-index: 10;
    width: 50px;
}

/* 11/02/2018 */

.multi-item-carousel{
    .carousel-inner{
        >  .item{
            transition: 500ms ease-in-out left;
            display: inline;
        }
        .active{
            &.left{
                left:-33%;
            }
            &.right{
                left:33%;
            }
        }
        .next{
            left: 33%;
        }
        .prev{
            left: -33%;
        }
        @media all and (transform-3d), (-webkit-transform-3d) {
            > .item{
                // use your favourite prefixer here
                transition: 500ms ease-in-out left;
                transition: 500ms ease-in-out all;
                backface-visibility: visible;
                transform: none!important;
            }
        }
    }
    .carouse-control{
        &.left, &.right{
            background-image: none;
        }
    }

}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image:  none!important;
    background-image:  none!important;
    background-image:  none!important;
    background-image:  none!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.left {
    background-image: none!important;
    background-image: none!important;
    background-image: none!important;
    background-image: none!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -100px!important; color: #000;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 50%;
    margin-left: -100px!important; color: #000;
}

.carousel-control.left, .carousel-control.right {
    background-image:none;
    width: 0px;
    margin-left: 40px;
    margin-right: 40px;
}

.carousel-inner{
    /*padding: 0 40px 30px 40px;*/
}

/*.img-responsive{
    width:100%;
    height:auto;
}*/

@media (min-width: 992px ) {
    .carousel-inner .active.left {
        left: -25%;
    }
    .carousel-inner .next {
        left:  25%;
    }
    .carousel-inner .prev {
        left: -25%;
    }

}

@media (min-width: 768px) and (max-width: 991px ) {

    .carousel-inner .active.left {
        /*left: -33.3%; */
        left: -25%;
    }
    .carousel-inner .next {
        /*left:  33.3%;*/
        left: -25%;
    }
    .carousel-inner .prev {
        /*left: -33.3%;*/
        left: -25%;
    }
    .active > div:first-child {
        display:block;
    }
    .active > div:first-child + div {
        display:block;
    }
    .active > div:last-child {
        display:none;
    }
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: -10px!important; color: #000;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        left: 50%;
        margin-left: -10px!important; color: #000;
    }


}

@media (max-width: 767px) {
    .carousel-inner .active.left {
        left: -100%;
    }
    .carousel-inner .next {
        left:  100%;
    }
    .carousel-inner .prev {
        left: -100%;
    }
    .active > div {
        /*display:none;
        display:visible;*/
    }
    .active > div:first-child {
        display:block;
    }
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: -10px!important; color: #000;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        left: 50%;
        margin-left: -10px!important; color: #000;
    }
    .head-all-new-v2{
        float: left; width: 100%; padding: 0 0px 0px 0px;margin-left: -10px;text-align: left;
    }

    .menubar {
        overflow-y: visible !important;
    }

    .container-anchor {
        width: 100% !important;
        overflow-x:auto;
    }

    .menu-item-brands-inbrand{
        float: left;
        width: 100% !important;
        padding: 5px;
    }
    .categories-brands-height{
        max-height:400px; min-height: 400px; background-color: #fff;
    }
    .menu-item-brands{
        float: left;
        width: 50% !important;
        min-height: 50px;
        max-height: 50px;
        padding: 5px;
    }
    .product-sticker{
        zoom:.7 !important;
    }
    .discount {
        position: relative;
        font-size: 1.1em;
        font-weight: bold;
        top: 2px;
    }
    .percen-discount {
        position: relative;
        font-size: 10px;
        top: 3px;
    }
    .rcorners4 .off-style {
        width: 100%;
        margin-top: -10px;
        text-align: center;
        margin-left: 0px;
    }
    .headbar {
        zoom:.7 !important;
    }

}

.line-spacing{
    border: 1px solid #e6e3e3;
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top : 2%;
    margin-bottom: 2%;
}

.spacing-cozxy{
    padding : 0px;
}

.img-good-reads img{
    min-height: 230px; max-height: 230px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
}

.img-items-category img{
    min-height: 256px; max-height: 256px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
}

.box-product-items{
    padding:0px;
}

.clearance .percen-discount {
    position: relative;
    font-size: 10px;
    top: -22px;
}

.clearance .discount {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    top: -20px;
}