RewriteEngine on

#Rewrite on Alias delete when production
#RewriteBase /cost.fit-test/frontend/web
RewriteBase /cost.fit-backend
#RewriteBase /cost.fit/frontend/web
# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteRule . index.php

#Header set Access-Control-Allow-Origin "*"
#Header set Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
